
build/.vs/win32_platform/v17/Browse.VC.db
build/.vs/win32_platform/v17/Browse.VC.db-shm
build/.vs/win32_platform/v17/ipch/AutoPCH/3b916777fc9f9b78/SHADER.ipch
build/.vs/win32_platform/v17/ipch/AutoPCH/2ebe5264727c05cf/WIN32_PLATFORM.ipch
build/.vs/win32_platform/v17/Browse.VC.db-wal
build/.vs/win32_platform/v17/.suo
build/.vs/win32_platform/FileContentIndex/read.lock
build/.vs/win32_platform/FileContentIndex/7f4b2603-2278-40d7-98d2-9cba02c1f4b4.vsidx
build/.vs/win32_platform/FileContentIndex/75e70c8b-16e5-4205-97ae-f034b335da82.vsidx
